.content{
    float: left;
    width: 70%;
}

.panel-vertical-right{
    float: right;
    width: 300px;
}



.panel-header, .panel-body{
    background-color: whitesmoke;
    border: 1px solid lightslategray;
}

.panel-header{
    padding: 10px;
}

button.search-bttn {
    background: transparent;
    border: none;
    color: #009688;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: left;
    padding: 7px 25px;
    width: 100%;
}

button.search-bttn:hover {
    background: #009688;
    color: white;
}

input#search-input {

}

input#search-add {

}