html, body {
    width: 100%;
    height: 100%;
}

.container{
    min-height: 100%;
}

.content{
    width: 70%;
    height: 100%;
}

.panel-vertical-right{
    height: 100%;
}

.main{
    background-color: #ffffff;
    margin: 80px auto;
    padding: 0 40px;
    max-width: 700px;
    margin-bottom: 0;
    margin-top: 100px;
}

.sidebar{
    float: left;
    margin-top: 0;
    margin-bottom: 30px;
    width: 160px;
    position: relative;
    margin-left: -220px;
    text-align: right;
}

button.search-bttn {
    background: transparent;
    border: none;
    color: #009688;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: left;
    padding: 7px 25px;
    width: 100%;
}

button.search-bttn:hover {
    background: #009688;
    color: white;
}

input#search-input {
    margin: 10px 10px;
}

input#search-add {
    margin: 0 10px 10px;
}