.container{
    background-color: whitesmoke;
    border: 1px solid lightslategray;
}

.panel-vertical-left{
    background-color: whitesmoke;
    border: 1px solid lightslategray;
}

.panel-vertical-right{
    background-color: whitesmoke;
    border: 1px solid lightslategray;
}

.container-header{
    padding: 10px;
}

.containter-body{
    padding: 10px;
}